backports.functools-lru-cache==1.5
bitstruct==3.7.0
cycler==0.10.0
h5py==2.7.1
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
pkg-resources==0.0.0
pynmea2==1.12.0
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
six==1.11.0
subprocess32==3.2.7
